<div class="contenido">
  <div class="titulo">
    <p>
      Asignatura: ELECTIVA - PROGRAMACION AVANZADA II Tipo: PRÁCTICA Grupo: 1
    </p>
  </div>
  <div class="textarea-c">
    <div class="label-c">
      <label for=""><b>Justificación</b></label>
      <input
        style="width: 22px; padding-top: 5px; margin-left: 89%"
        type="image"
        src="../../assets/img/img1.jpg"
      />
      <input
        style="width: 22px; margin-left: 10px"
        type="image"
        src="../../assets/img/img2.jpg"
      />
    </div>

    <textarea name="" id="" cols="30" rows="10" disabled>El crecimiento exponencial de aplicaciones interconectadas ha provocado un incremento directamente proporcional al desarrollo de aplicaciones móviles interactuando con aplicaciones web, que tienen como propósito principal separar el procesamiento para optimizar el uso de recursos, donde cada nodo o dispositivo se encarga de problemas más pequeños, logrando que el uso de recursos sea eficiente. Esto conlleva a que una solución de este tipo sea esencial para aquellos casos donde: las tareas son muy extenuantes para un solo dispositivo, se cuenta con una infraestructura de red y los procesos ser realizan en batch, cuando se requiere una separación de capas arquitectónicas, entre otras. Cabe resaltar que para realizar una separación debe ser computacional y lógicamente posible.
    </textarea>
  </div>
  <br />
  <div class="label-c">
    <label for=""><b>Asignatura</b></label>
    <input
      style="width: 22px; padding-top: 5px; margin-left: 89%"
      type="image"
      src="../../assets/img/img1.jpg"
    />
    <input
      style="width: 22px; margin-left: 10px"
      type="image"
      src="../../assets/img/img2.jpg"
    />
  </div>
  <br />
  <div class="label-ca">
    <div class="label-cb">
      <label for=""><b>Docentes</b></label>
      <input
        style="width: 22px; padding-top: 5px; margin-left: 90%"
        type="image"
        src="../../assets/img/img1.jpg"
      />
      <input
        style="width: 22px; margin-left: 10px"
        type="image"
        src="../../assets/img/img2.jpg"
      />
    </div>

    <br />
    <div class="profe">
      <input
        style="width: 22px; margin-left: 10px"
        type="image"
        src="../../assets/img/avatar.svg"
      />
      <span>FRANKLIN EDUARDO JIMENEZ GIRALDO</span>
    </div>

    <div class="cont-2">
      <br><label for=""><b>Metodología</b></label><br>
      <textarea name="" id="" cols="30" rows="10" class="textarea-2">No se encontraron registros</textarea
      >
    </div>
  </div>
</div>
