<div class="nav">
  <div class="imagen">
    <img src="../../assets/img/logoudenar.svg" alt="...">
  </div>
</div>

<div class="line">
  <p style="color: white; text-align: center;"><i>Módulo Estudiante</i></p>
</div>
<div class="line-a">
  <input style="margin-left: 420px; width: 22px; padding-right: 5px; " type="image" src="../../assets/img/contraer.svg"/>
  <input style="width: 22px; padding-right: 5px;" type="image" src="../../assets/img/dashboard.svg"/>
  <input style="width: 22px;" type="image" src="../../assets/img/menu.svg"/>
  <span style="color: white;margin-left: 65%; font-size: 10px;padding-top: -5px !important;">Anndony Quemag</span>
  <input style="width: 22px;padding-left: 5px;" type="image" src="../../assets/img/avatar.svg"/>
</div>

