<div class="menu">
  <h4>Asignaturas</h4>
</div>
<div class="submenu">
  <table style="text-align: left; color: white;" class="table-c">
    <tr>
      <td><input style="width: 12px;" type="image" src="../../assets/img/img3.png"/></td>
      <td>SISTEMAS EXPERTOS</td>
    </tr>
    <tr>
      <td></td>
      <td style="padding-left: 10px;">Práctica 0%</td>
    </tr>
    <tr>
      <td></td>
      <td style="padding-left: 25px;">Grupo 1</td>
    </tr>
    <tr>
      <td></td>
      <td style="padding-left: 10px;">Teórica 100%</td>
    </tr>
    <tr>
      <td><input style="width: 12px;" type="image" src="../../assets/img/img3.png"/></td>
      <td>SISTEMAS DISTRIBUIDOS</td>
    </tr>
    <tr>
      <td></td>
      <td style="padding-left: 10px;">Práctica 0%</td>
    </tr>
    <tr>
      <td></td>
      <td style="padding-left: 10px;">Teórica 100%</td>
    </tr>
    <tr>
      <td><input style="width: 12px;" type="image" src="../../assets/img/img3.png"/></td>
      <td>INGENIERÍA DE SOFTWARE</td>
    </tr>
    <tr>
      <td><input style="width: 12px;" type="image" src="../../assets/img/img3.png"/></td>
      <td>ELECTIVA - PROGRAMACION AVANZADA II</td>
    </tr>
  </table>
</div>
